%h1 All Siccunt Memers

%table#memers
    %thead
        %tr
            %th Name
            %th Age
            %th Gender
    %tbody
        = render @memers
= link_to "Add new memer", new_memer_path