%h1 Devout Memers &#128591;

%table#memers
    %thead
        %tr
            %th Name
            %th Age
            %th Gender
            %th More Info
    %tbody
        = render @memers
%div= link_to "Add new memer", new_memer_path