/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*html, body {*/
/*  background: White;*/
/*  color: DarkSlateGrey;*/
/*  font-family: Tahoma, Verdana, sans-serif;*/
/*  font-size: 12pt;*/
/*  padding-left: 0.5em;*/
/*}*/

#notice {
  color: green;
}

#warning {
  color: red;
  padding: 0.5em;
  font-weight: bold;
}

table {
  width: 75%;
  border-bottom: 2px solid black;
  border-collapse: collapse;
  margin: 20px;
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #e5e5e5;
}

tr:hover {background-color: #f5f5f5}

.btn-group a {
  display: block;
  margin-bottom: 10px;
  width: 75px;
  text-decoration: none;
}

input[type=text] {
    padding:7px; 
    margin-top: 3px;
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
}